
.home{
    display: flex;

}
.home-left{
    flex: 0.8;
    margin: auto;
}

.home-right-wrap{
    max-width: 250px;
    margin: auto;
    margin-top: 20px;
}

.optimize{
    margin-bottom: 30px;
}

.optimize>h3{
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
}
.optimize>div{
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 20px;
}

.product-container{
    max-width: 980px;
    margin: auto;
}
@media(max-width:700px){
    .home-left{
        flex: 1;
        margin:0;
    }

}