
.products{
    display: flex;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(214, 214, 214);
}

.product-right{
    margin: 0 10px;
}

.product-right>h3{
    font-size: 20px;
    margin: 5px 0px;
    font-family: 'Noto Sans', sans-serif;
}

.product-right>p{
    margin: 5px 0;
    font-size: 14px;
} 

.product-right>span{
    font-weight: 600;
}

.product-img{
    max-width:200px ;
    margin: 10px;
}

.product-btn{
    margin-top: 7px;
    width: fit-content;
}
.product-btn>button{
    padding: 5px;
    margin: 0px 20px 0px 0px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 4px;
    font-size: 12px;
}
.price{
    font-weight: 600;
}
.upload-date{
    font-size: 9px;
    color: rgb(180, 180, 180);
}
.addbtn{
    background-color: #581b98;
    color: #ffffff;
    border: 1px solid #430e7c;

}
.qunatity-counter{
    width: fit-content;
    margin: 10px 0;
}
.qunatity-counter>span{
  margin: 0 8px;
}
.qunatity-counter>button{
   border-radius: 50%;
   border: 1px solid rgb(230, 230, 230);
}
.removebtn{
    background-color: #fc5185;
    color: #ffffff;
    border: 1px solid #f71b5d;
    font-family: 'Rubik', sans-serif;
}

@media(max-width:600px){
    .products{
       flex-direction: column;
       padding-bottom: 30px;
    }

}